* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #f6f9ff;
    color: #1f2937;
}

nav {
    background: white;
    padding: 14px 28px;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #2563eb;
    font-size: 24px;
    font-weight: 700;
}

nav .menu a {
    margin-left: 20px;
    color: #374151;
    text-decoration: none;
    font-weight: 500;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 18px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
    margin-bottom: 20px;
}

button, .btn {
    padding: 10px 16px;
    background: #2563eb;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    transition: .2s;
}

button:hover, .btn:hover {
    background: #1e40af;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
}

.place-img {
    width: 100%;
    border-radius: 10px;
}
.rating-stars {
    font-size: 22px;
    color: #facc15; /* kuning */
}
